*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    width: 100;
    height: 100vh;
    background: #fff;
}

.top-header{
    width: 100%;
    height: 50px;
    background: #173a13;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
}

.top-header-left .social-icon a{
    color: #bbbababa;
    text-decoration: none;
    padding: 0 10px;
    font-size: 20px;
}

.top-header-right .contact-list ul li{
    display: inline;
}
.top-header-right .contact-list ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    padding: 0 10px;
    font-weight: 600;
}

.bottom-header{
    height: 80px;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100% ;
    padding: 0 50px;
}

.bottom-header .bottom-header-logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-header .bottom-header-logo h2{
  font-size: 25px;
  font-weight: 800;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottom-header .bottom-header-logo h2 i{
    font-size: 30px;
    font-weight: 800;
    color: rgb(11, 109, 93);
    margin-right:10px ;
}

.bottom-header .navigation{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style: none;
    gap: 40px;
}

.bottom-header .fa-bars{
    font-size: 25px;
    font-weight: 700;
    display: none;
}

.bottom-header .navigation li a{
  text-decoration: none;
  color: #000;
  font-weight: 700;
  font-size: 16px;
}

.hero-section{
    background: url(homeback.png);
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
}

.hero-section .container{
    position: absolute;
    top: 20%;
    left: 10%;
    width: 45%;
    height: auto;
}

.hero-section .container .hero-text{
  color: #0d3b05;
}

.hero-section .container .hero-text h4{
    font-size: 45px;
    font-weight: 80;
}

.hero-section .container .hero-text h4 span{
    font-size: 50px;
    font-weight: 800;
}

.hero-section .container.hero-text p{
    font-size: 17px;
    margin: 30px 0;
    width: 100%;

}

button {
    padding: 15px 30px;
    font-size: 18px;
    outline: none;
    border: none;
    border-radius: 10px;
    transition: 0.5s;
    background: #0d3b05;
    cursor: pointer;
    color: greenyellow;
    box-shadow: 0 0 10px #363636, inset 0 0 10px #363636;
  }
  
  button:hover {
    animation: a 0.5s 1 linear;
  }
  
  @keyframes a {
    0% {
      transform: scale(0.7, 1.3);
    }
  
    25% {
      transform: scale(1.3, 0.7);
    }
  
    50% {
      transform: scale(0.7, 1.3);
    }
  
    75% {
      transform: scale(1.3, 0.7);
    }
  
    100% {
      transform: scale(1, 1);
    }
  }

.hero-section .logo{
    position: absolute;
    right: 0;
}

.hero-section .logo img{
    width: 300px;
}

.pet selection{
    width: 100%;
    background: #fff;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;

}

.collection .heading{
    text-align: center;
}

.collection .heading h1{
    font-size: 40px;
    margin-bottom: 10px;
    font-weight: 800;
}

.card-section{
    display: flex;
    width: 90%;
    margin: 30px auto;
    justify-content: center;
    gap: 20px;
}

.card-section .card{
    background: greenyellow;
    padding: 20px;
    border-radius: 8px;
    margin: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}
.card-section .card:hover{
    background: white;
    border: 1px solid rgb(91, 208, 186);
}

.card i{
    font-size: 24px;
    margin-bottom: 20px;
    color: #0d3b05;
}

.card h3{
    font-size: 19px;
    margin-bottom: 18px;
    color: #0d3b05;
}

.card p{
    font-size: 14px;
    margin-bottom: 20px;

}

.adoption-form{
    background: #173a13;
    width: 100%;
    padding: 50px;
} 
.adoption-form .container{
    background: rgb(91, 208, 186);
    padding: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;

}

.adoption-form .container h1{
    font-size: 40px;
    font-weight: 600;
}

.adoption-form .container .adoptbutton{
    font-size: 16px;
    padding: 15px 30px;
    border-radius: 20px;
    border: 0;
    outline: none;
    background: #0d3b05;
    color: greenyellow;
    font-weight: 600;
}

.footer-section {
    position: st;
    width: 100%;
    background: #dbd8d8;
    bottom: 0; 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    padding: 20px; 
    flex-direction: column;
    z-index: 1000; 
}

.footer-top{
    background: #c95f5f;
    width: 97%;
    margin: 0 auto;
}

.footer-section .footer-top .container .row{
    display: flex;
    justify-content: space-between;
    gap: 50px;
    padding: 20px;
    flex-wrap: wrap;
}